<div id="<%= dom_id friendship %>">
  <p>
    <strong>Primary friend:</strong>
    <%= friendship.primary_friend_id %>
  </p>

  <p>
    <strong>Secondary friend:</strong>
    <%= friendship.secondary_friend_id %>
  </p>

</div>
