<div id="<%= dom_id friendship %>">

  <% if current_user==friendship.primary_friend %>
    <%= friendship.secondary_friend.email %>
  <% elsif current_user==friendship.secondary_friend %>
    <%= friendship.primary_friend.email %>
  <% end %>

</div>
