<p style="color: green"><%= notice %></p>

<% content_for :title, "Friendships" %>

<h1>Friendships</h1>

<div id="friendships">
  <% @friendships.each do |friendship| %>
    <%= render friendship %>
    <%= button_to friendship_path(friendship), method: :delete do %>
      Unfriend
    <% end %>
    <br><br>

  <% end %>
</div>


