<div id="<%= dom_id friend_request %>">
  <p>
    <strong>Sender:</strong>
    <%= friend_request.sender_id %>
  </p>

  <p>
    <strong>Receiver:</strong>
    <%= friend_request.receiver_id %>
  </p>

</div>
