<div id="<%= dom_id friend_request %>">

  <% if current_user==friend_request.sender %>
    <strong>Receiver:</strong>
    <%= friend_request.receiver.email %>
  <% elsif current_user==friend_request.receiver %>
    <strong>Sender:</strong>
    <%= friend_request.sender.email %>
  <% end %>

</div>
